#navbar {
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  background-color: #464646;
  color: white;
  border-bottom: 1px solid var(--color-dark-grey);
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__logo {
  padding-left: 15px;
  font-size: 35px;
}

.navbar__logo > a {
  padding-left: 15px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0px 8px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}
.navbar__menu__item.active {
  border: 1px solid white;
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-white);
}

.navbar__toggle-btn {
  position: absolute;
  top: 8px;
  right: 32px;
  font-size: 32px;
  color: white;
  border: none;
  display: none;
}
