.work__categories {
  margin: 40px;
}
.category__btn {
  width: 300px;
  border: 1px solid var(--color-light-grey);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.category__btn.seleted,
.category__btn:hover {
  background-color: var(--color-dark-white);
  color: white;
}

.category__btn.seleted .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}
.category__count {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  background-color: orange;
  color: white;
  margin-left: 5px;
  position: relative;
  top: -20px;
  transition: all 300ms ease-in-out;
  opacity: 0;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.work__projects.ani-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 250px;
  height: 250px;
  margin: 30px;
  background-color: var(--color-light-white);
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project_infor {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  padding: 0px 20px;
  opacity: 0;
  transform: translateY(10px);
  transition: all 300ms ease-in-out;
}

.project:hover .project_infor {
  opacity: 0.8;
  transform: translateY(0);
}
.project_infor h3 {
  color: orange;
}

.project_infor h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8px;
  width: 50px;
  height: 1px;
  background-color: white;
}

.project.invisible {
  display: none;
}
